@import '../core/Variables';


.get-avatar {
    display: flex;
    //flex-direction: column;
    //margin: 15px 0;
    margin-bottom: 25px;
  }
  
  .get-avatar__label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    //text-align: center;
    box-sizing: border-box;
    background: rgb(213, 183, 199);
    //background-color: $color-dark-lilac;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-radius: 20px;
    border: 2px solid white; 
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    
    font-family: $font-button;
    color: $color-white;
    font-size: 18px;
    padding: 10px 20px;
   //margin-left: 25px; 

    // @media screen and (min-width:780px) {
    //   margin-right: 10px; 
    // }
  }
  
  .get-avatar__upload-field {
    display: none;

  }
  
  .get-avatar__preview {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    height: 50px;
    margin-left: 15px;
    width: 50px;
  }