@import '../core/Variables';

.preview .projectImage {

  width: 100%;
  aspect-ratio: 1 / 0.8;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;

}

  .preview .card {
    margin-inline: 20px;
    margin-top: -20px; 
    z-index: 1; 
  }
  

.card {
  display: grid;
  grid-template-columns: 40% 60%;
  color: $color-black;
  font-family: $font-card-text;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(247, 247, 247, 0.5));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #E0E0E0;
}

.card .card__projectTitle {
  grid-column: 2;
  position: relative;
  margin: 15px 10px 1rem 0;
  text-align: center;
  text-transform: capitalize;

  font-family: $font-card-section;
}
.card .card__projectTitle::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background-color: $color-black;
}

.card .card__projectTitle--text {
  position: relative;
  padding-inline: 0.1em;
  z-index: 1;
 color: inherit;

}

.card .card__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.card .card__authorPhoto {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 0.8rem;
  transition: transform 0.3s ease; 
}

.card .card__authorPhoto:hover {
  transform: scale(1.1); 
}

.card .card__job {
  margin-bottom: 0.2rem;
}

.card .card__name {
  font-family: $font-card-title;
  margin-bottom: .2rem;
}

.card .card__project {
  margin-right: 10px;
}

.card .card__slogan {
  font-family: $font-card-subtitle;
  margin-top: -.2rem;
  margin-bottom: .8rem;
}

.card .card__descriptionTitle {
  font-weight: inherit;
  text-transform: capitalize;
  font-weight: bold;
}

.card .card__technicalInfo {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 2rem 2rem;
  gap: .5em;

  margin-block: 1.8rem;
}

.card .card__technologies {
  font-family: $font-card-tech;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 $color-greyish-brown-two;
  transition: opacity 0.3s ease;
}

.icon:hover {
  opacity: 0.7;
}

.icon__www {
  background-image: url('/src/images/globe-solid.svg');
}

.icon__github {
  background-image: url('/src/images/github.svg');
}


.button-reset {
  background-color: $color-light-red;
  color: $color-white;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-family: $font-button;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($color-light-red, 10%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

