* {
  font-family: $font-normal;
  color: $color-black;
}

@media screen and (min-width: 420px) {
  * {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  * {
    font-size: 14px;
  }
}

.container {
  padding: 22px 22px 0 22px;
  background-color: #F1DAC4;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}


.hero {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-column: span 2;
  }
}

.URLcontainer {
  color:black; 
}

.hero .title {
  font-family: $font-title-big;
  margin-bottom: 8px;
  color: #474973;
  font-size: 60px;
  //text-decoration: none; 
 
}

.hero .hero__text {
  font-family: $font-text-big;
  color: #474973;
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
  font-size: 30px;
}


