* {
  font-family: $font-normal;
  color: $color-black;
}

@media screen and (min-width: 420px) {
  * {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  * {
    font-size: 14px;
  }
}

.container {
  padding: 22px 22px 0 22px;
  background-color: $color-dark;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}


.hero {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .hero {
    grid-column: span 2;
  }
}

.hero .title {
  font-family: $font-title-big;
  margin-bottom: 8px;
  color: $color-white;
  font-size: 30px;
}

.hero .hero__text {
  font-family: $font-text-big;
  color: $color-white;
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
}




/* FORM */

/* COMPONENTS */

// .title {
//   text-align: center;
//   text-transform: capitalize;
// }


  /*
    background-image: linear-gradient(to bottom, $color-dark-lilac, $color-dark-lilac), linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    */


// .button {
//   display: block;
//   min-width: 120px;
//   max-width: 150px;

//   margin: 8px;
//   padding: 5px 18px;
//   color: $color-white;
//   font-family: $font-button;
//   text-transform: none;
//   text-decoration: none;
//   text-align: center;

//   border-radius: 40px;
//   background-image: linear-gradient(to right, $color-dark-lilac -2%, #c0b7e8 98%);

//   cursor: pointer;
// }

// .button--large {
//   display: block;
//   width: 145px;

//   margin-inline: auto;
//   margin-block: 8px;
//   padding: 5px 18px;
//   color: $color-white;
//   font-family: $font-button;
//   text-transform: none;
//   text-decoration: none;
//   text-align: center;

//   border-radius: 40px;
//   background-color: transparent;
//   background-image: linear-gradient(to right, $color-dark-lilac -2%, #c0b7e8 98%);

//   cursor: pointer;
// }

// .button--large:hover {
//   border-color: $color-white;
// }

